html,body {
    height:100vh;
}
.carousel, .item, .active {
    height:100vh;
}
.carousel { 
    top: 0;
}
.carousel-inner {
    height:100vh;
}
.carousel-inner img {
    margin: auto;
}

.navbar{
    z-index:9;
}

#fullCarousel{
    position:absolute;
    width:100%;
    top:0;
}